<!DOCTYPE html>
<html>
<head>
    
    <title>STREAM2YOU</title>
   

</head>
<body style="background-color: cadetblue;">
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="w3-container"> 
    <h1 class="w3-center w3-spin">Bienvenido a Stream2You</h1>
    </div>
    <div class = "w3-container">
        <p>
            Aplicacion para streaming, enfocada en cuidado de salud mental. Permitiendo a la gente tener contacto con los demás, actividades, clases o para ocio
        </p>
        <p>Sebastián Mazo Vélez</p>
    </div>   
    
    <div class="w3-card" style="width:50%">
        <img src="https://media.discordapp.net/attachments/586686650491600906/695390441100804126/unknown.png" alt="Logo app" width="300" height="300">
        <div class="w3-container">
          <h4><b>Stream 2You</b></h4>
          <p style="color:blue;">Conecta2 para usted</p>
          <a href="registro.html" target="blank">Registro para streaming</a>
        </div>
        <a href="streaming.html" target="blank"> Entrar como invitado</a>
        <br>
        <a href="verstreaming.html" target="blank">Ver un streaming activo</a>
       

    </div>
        
   





    </body>
</html>
