<!DOCTYPE html>
<html>
<head>
<title>Registro</title>
<script type="text/javascript" src="registro.js"></script>
</head>

<body style="background-color: cadetblue;"></body>
<link rel="stylesheet" href="styles.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<h1>Registro Stream2You </h1>
<section class="form-register">
    <h2>Formulario Registro</h2>
    <input class="controls" type="text" name="nombre" id="nombre" placeholder="ingrese nombre" >
    <input class="controls"  type="text" name="apellido" id="apellidos" placeholder="ingrese sus apellidos" >
    <input class="controls"  type="text" name="correo" id="correos" placeholder="ingrese su correo" >
    <input class="controls"  type="text" name="contraseña" id="contraseñas" placeholder="ingrese su contraseña" >
    <p>Si tiene algún problema con el registro, <a href="Contactenos.html">Contactenos</a></p>
    <button class="botons" type="button" onclick="getData()">Enviar</button>

</section>

</body>
</html>
